.inited{
	background-color:black;
	color:white;
	font-family:courier;
	padding:5px;
	font-size:24px;
	word-break:break-all;
}

input{
	outline:none;
	--webkit-appearance:none;
	border:none;
	background-color:transparent;
}
